@keyframes landingIntroClip {
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 77%, 0% 100%);
  }
}
@-webkit-keyframes BgAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes BgAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes BgAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes FadeIn {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-moz-keyframes FadeIn {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes FadeIn {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
