.bookPage {
  width: 100%;
  height: max-content;
  background-color: #2f2f35;
  &-container {
    display: flex;
    flex-flow: column;
    gap: 4rem;
    align-items: center;
    position: relative;
    //align-items: center;
    .introSection {
      width: 100%;
      height: 50rem;
      background-color: black;
      position: relative;
      overflow: hidden;
      z-index: 2;
      @include respond(phone) {
        height: 55rem;
      }
      &-bgImg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        filter: blur(10px) opacity(60%);
        z-index: 1;
        @include respond(phablet) {
          display: none;
        }
      }
      &-container {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95rem;
        height: 33rem;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        @include respond(tab-land) {
          width: 85%;
        }
        @include respond(phablet) {
          display: none;
        }
        &-img {
          z-index: 2;
          width: 27rem;
          height: 100%;
          background-size: cover;
          background-position: center;
          border-radius: 1rem;
          display: block;
          @include respond(tab-land) {
            width: 24rem;
            border-radius: 0.8rem;
          }
        }
        &-content {
          width: calc(100% - 30rem);
          height: 100%;
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          //background-color: rgba(214, 25, 25, 0.493);
          @include respond(tab-land) {
            width: calc(100% - 27rem);
          }
          &-titleSection {
            display: flex;
            color: white;
            justify-content: space-between;
            .name {
              width: 80%;
              .novelName {
                font-size: $medium-font-size;
              }
              .authorName {
                display: block;
                font-size: $default-font-size;
                color: rgb(190, 190, 190);
              }
            }
            .ratingSection {
              align-self: flex-start;
              display: flex;
              align-items: center;
              gap: 1rem;
              .rating {
                font-size: $medium-font-size;
              }
              .icon {
                width: 3rem;
                height: 3rem;
                color: rgb(247, 180, 56);
                filter: drop-shadow(0px 0px 2px rgb(247, 180, 56));
              }
            }
          }
          &-midSection {
            display: flex;
            height: max-content;
            width: 100%;
            justify-content: space-between;
          }
          &-infoSectionCard {
            width: 47%;
            height: max-content;
            background-color: rgba(0, 0, 0, 0.39);
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            flex-flow: column;
            gap: 1rem;
            justify-content: space-between;
            border: 2px solid rgb(39, 39, 39);
            @include respond(tab-port) {
              padding: 1rem;
            }
            .subheading {
              color: white;
              font-size: $default-font-size;
              font-weight: bold;
              letter-spacing: 0.2rem;
            }
          }
          &-infoSection {
            height: 100%;
            display: flex;
            color: white;
            justify-content: space-between;
            &-item {
              display: flex;
              flex-flow: column;
              align-items: center;
              .subheading {
                font-size: $smaller-font-size;
                color: rgb(190, 190, 190);
                @include respond(tab-port) {
                  font-size: $smallest-font-size;
                }
              }
              .count {
                font-size: $logo-small-font-size;
                color: rgb(190, 190, 190);
                @include respond(tab-port) {
                  font-size: $medium-font-size;
                }
              }
            }
          }
          &-otherSectionCard {
            width: 47%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.39);
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            flex-flow: column;
            gap: 1rem;
            justify-content: space-between;
            border: 2px solid rgb(39, 39, 39);
            .subheading {
              color: white;
              font-size: $default-font-size;
              font-weight: bold;
              letter-spacing: 0.2rem;
            }
          }
          &-categorySection {
            .tags {
              display: flex;
              flex-wrap: wrap;
              gap: 1.5rem;
              &-tag {
                text-transform: uppercase;
                font-size: $smaller-font-size;
                color: rgb(190, 190, 190);
              }
            }
          }
          &-buttons {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .btn {
              width: 47%;
              height: 4rem;
              font-size: $default-font-size;
              text-transform: uppercase;
              letter-spacing: 0.2rem;
              color: white;
              //background-color: rgba(0, 0, 0, 0.39);
              background-color: rgb(32, 121, 194);
              display: grid;
              place-items: center;
              gap: 6%;
              border-radius: 5px;
              font-weight: bold;
            }
          }
        }
      }
      &-containerSmall {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        @include respond(phablet) {
          display: block;
        }
        &-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          filter: blur(20px) opacity(75%);
          //z-index: 2;
        }
        &-content {
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 80%;
          width: 80%;
          //background-color: rgba(black, 0.5);
          display: flex;
          flex-flow: column;
          gap: 2rem;
          @include respond(tab-land) {
            width: 85%;
          }
          @include respond(phone) {
            width: 90%;
          }
          &-titleSection {
            display: flex;
            color: white;
            justify-content: space-between;
            .name {
              width: 80%;
              .novelName {
                //font-size: $medium-font-size;
                font-size: $logo-small-font-size;
              }
              .authorName {
                display: block;
                font-size: $default-font-size;
                color: rgb(190, 190, 190);
              }
            }
            .ratingSection {
              align-self: flex-start;
              display: flex;
              align-items: center;
              gap: 1rem;
              .rating {
                //font-size: $medium-font-size;
                font-size: $logo-small-font-size;
              }
              .icon {
                width: 3rem;
                height: 3rem;
                color: rgb(247, 180, 56);
                filter: drop-shadow(0px 0px 2px rgb(247, 180, 56));
              }
            }
          }
          &-midSection {
            width: 100%;
            height: max-content;
            background-color: rgba(0, 0, 0, 0.39);
            border: 2px solid rgb(39, 39, 39);
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            flex-flow: column;
            gap: 2rem;
            //justify-content: space-between;
            gap: 3rem;
            .statSection {
              &-heading {
                color: white;
                font-size: $small-font-size;
                font-weight: bold;
                letter-spacing: 0.3rem;
                margin-bottom: 0.5rem;
              }
              &-items {
                display: flex;
                flex-wrap: wrap;
                gap: 4rem;
                row-gap: 1rem;
                &-item {
                  display: flex;
                  flex-flow: column;
                  align-items: center;
                  &-count {
                    font-size: $logo-small-font-size;
                    color: rgb(190, 190, 190);
                    text-transform: uppercase;
                  }
                  &-subheading {
                    font-size: $smaller-font-size;
                    color: rgb(190, 190, 190);
                    text-transform: uppercase;
                  }
                }
              }
            }
            .categorySection {
              &-heading {
                color: white;
                font-size: $small-font-size;
                font-weight: bold;
                letter-spacing: 0.3rem;
                margin-bottom: 0.5rem;
              }
              &-tags {
                display: flex;
                flex-wrap: wrap;
                gap: 1.5rem;
                &-tag {
                  text-transform: uppercase;
                  font-size: $smaller-font-size;
                  color: rgb(190, 190, 190);
                }
              }
            }
          }
          &-buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .btn {
              outline: none;
              border: none;
              width: 48%;
              text-align: center;
              padding: 1rem;
              background-color: rgb(32, 121, 194);
              color: white;
              font-size: $default-font-size;
              text-transform: uppercase;
              letter-spacing: 0.2rem;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .contentSection {
      width: 95rem;
      display: flex;
      flex-flow: column;
      gap: 4rem;
      align-items: center;
      transition: all 1s ease;
      @include respond(tab-land) {
        width: 85%;
      }
      @include respond(phone) {
        width: 90%;
      }
      .aboutSection {
        width: 100%;
        height: max-content;
        padding: 3rem;
        background-color: rgba(63, 63, 63, 0.856);
        border-radius: 1rem;
        z-index: 2;

        @include respond(phone) {
          padding: 2rem;
        }
        &-subheading {
          text-transform: uppercase;
          letter-spacing: 0.3rem;
          color: white;
          font-size: $small-font-size;
          font-weight: bold;
          margin-bottom: 2rem;
        }
        &-content {
          letter-spacing: 0.1rem;
          font-size: $default-font-size;
          color: rgb(190, 190, 190);
          //text-align: justify;
        }
      }
      .chapterSection {
        //width: 71%;
        width: 100%;
        height: max-content;
        //color: rgb(245, 231, 231);
        padding: 3rem;
        background-color: rgba(63, 63, 63, 0.856);
        border-radius: 1rem;
        z-index: 2;
        @include respond(phone) {
          padding: 2rem;
        }
        &-subheading {
          text-transform: uppercase;
          letter-spacing: 0.3rem;
          color: white;
          font-size: $small-font-size;
          font-weight: bold;
          margin-bottom: 2rem;
        }
        &-latest {
          width: 100%;
          color: rgb(190, 190, 190);
          font-size: $default-font-size;
          .chapter {
            margin-left: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
          }
        }
        &-goto {
          margin-top: 2rem;
          align-items: center;
          display: flex;
          justify-content: space-between;
          .goto {
            align-items: center;
            display: flex;
            gap: 1rem;
          }
          .chapterInput {
            border: none;
            outline: none;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            //background-color: hsla(0, 0%, 95%, 0.3);
            background-color: #50505a;
            color: white;
            //color: hsl(160, 79%, 15%);
            text-align: center;
            font-size: $default-font-size;
            font-weight: bold;
            width: 10rem;
            &::placeholder {
              //color: hsl(160, 79%, 15%);
              color: rgb(190, 190, 190);
            }
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
            }
          }
          .gotoBtn {
            font-size: $default-font-size;
            padding: 0.5rem 1.5rem;
            border-radius: 0.5rem;
            //border: 2px solid black;
            background-color: rgb(32, 121, 194);
            color: white;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
          }
          .pageChange {
            display: flex;
            gap: 1rem;
            &-icon {
              padding: 1rem;
              border-radius: 0.5rem;
              //border: 2px solid black;
              background-color: rgb(32, 121, 194);
              color: white;
              width: 3rem;
              height: 3rem;
            }
            .page {
              color: white;
              font-size: $default-font-size;
              font-weight: bold;
              display: grid;
              place-items: center;
            }
          }
        }
        &-chapters {
          margin-top: 2rem;
          border-radius: 1rem;
          padding: 3rem;
          background-color: #2f2f35;
          //background-color: rgba(255, 255, 255, 0.3);
          box-shadow: hsla(0, 0%, 0%, 0.2) 0px 0px 30px 5px inset;
          // display: grid;
          // grid-template-columns: repeat(2, 1fr);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          //gap: 2rem;
          row-gap: 2rem;
          @include respond(tab-port) {
            padding: 2rem;
          }
          .chapter {
            background-color: rgba(73, 73, 73, 0.856);
            // background-color: rgba(87, 87, 87, 0.856);
            color: rgb(190, 190, 190);
            border-radius: 5px;
            font-size: $default-font-size;
            opacity: 0;
            padding: 1rem 2rem;
            transform-origin: center;
            width: 48%;
            @include respond(phone-port) {
              width: 100%;
            }
            .count {
              font-size: $smaller-font-size;
            }
            &:hover {
              cursor: pointer;
              transform: scale(1.02);
              box-shadow: hsla(0, 0%, 0%, 0.15) 3px 3px 10px 2px;
              background-color: rgba(87, 87, 87, 0.856);
              color: white;
            }
          }
          .fadeAway {
            opacity: 0;
            transition: all 0.2s linear;
          }
          .fadeIn {
            opacity: 1;
            transition: all 0.2s linear;
          }
        }
      }
      .reviewSection {
        width: 100%;
        height: max-content;
        color: rgb(184, 184, 184);
        padding: 3rem;
        background-color: rgba(63, 63, 63, 0.856);
        border-radius: 1rem;
        z-index: 2;
        display: flex;
        flex-flow: column;
        gap: 3.5rem;
        margin-bottom: 2rem;
        @include respond(phone) {
          padding: 2rem;
        }
        &-subheading {
          text-transform: uppercase;
          letter-spacing: 0.3rem;
          color: white;
          font-size: $small-font-size;
          font-weight: bold;
          //margin-bottom: 2rem;
        }
        &-reviewStats {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          color: rgb(190, 190, 190);
          &-count {
            .stars {
              display: flex;
              align-items: center;
              gap: 1rem;
              .text {
                font-size: $logo-font-size;
              }
              .icon {
                width: 3rem;
                height: 3rem;
                color: rgb(247, 180, 56);
                filter: drop-shadow(0px 0px 2px rgb(247, 180, 56));
              }
            }
            .ratings {
              display: flex;
              gap: 1rem;
              align-items: center;
              font-size: $small-font-size;
              .text {
                font-size: $default-font-size;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
              }
            }
            .reviews {
              display: flex;
              gap: 1rem;
              align-items: center;
              font-size: $small-font-size;
              .text {
                font-size: $default-font-size;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
              }
            }
          }
          &-graph {
            width: 50%;
            display: flex;
            flex-flow: column;
            gap: 0.5rem;
            color: rgb(190, 190, 190);
            .graph {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 1rem;
              font-size: $smaller-font-size;
              .rating {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                .icon {
                  width: 1.7rem;
                  height: 1.7rem;
                  color: rgb(97, 97, 97);
                }
              }
              .percent {
                height: 1rem;
                width: 80%;
                background-color: rgb(97, 97, 97);
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                &-covered {
                  position: absolute;
                  width: 0;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-color: rgb(247, 180, 56);
                  background-color: rgb(187, 152, 87);
                  //background-color: rgb(32, 121, 194);
                }
              }
            }
          }
        }
        &-myReview {
          &-heading {
            font-size: $default-font-size;
            text-transform: uppercase;
            margin-bottom: 1rem;
            padding-left: 0.5rem;
          }
          &-content {
            border-radius: 1rem;
            background-color: transparent;
            display: flex;
            gap: 2px;
            flex-flow: column;
            overflow: hidden;
            .titleInput {
              width: 100%;
              background-color: #2f2f35;
              outline: none;
              border: none;
              font-size: $small-font-size;
              color: rgb(190, 190, 190);
              padding: 1rem 2rem;
              @include respond(phone) {
                font-size: $default-font-size;
                padding: 0.7rem 1.6rem;
              }
              &::placeholder {
                color: rgb(126, 126, 126);
              }
            }
            .reviewInput {
              width: 100%;
              height: 15rem;
              padding: 1rem 2rem;
              background-color: #2f2f35;
              outline: none;
              border: none;
              font-size: $small-font-size;
              // color: rgb(194, 194, 194);
              color: rgb(190, 190, 190);
              resize: none;
              @include respond(phone) {
                font-size: $smaller-font-size;
                padding: 0.7rem 1.6rem;
              }
              &::placeholder {
                color: rgb(126, 126, 126);
              }
            }
            .rate {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 1.5rem;
              background-color: #2f2f35;
              padding: 1rem 2rem;
              .text {
                font-size: $small-font-size;
                color: rgb(190, 190, 190);
                @include respond(phone) {
                  font-size: $default-font-size;
                }
              }
              .stars {
                .icon {
                  height: 2rem;
                  width: 2rem;
                  transition: color 0.1s ease;
                  margin-right: 1rem;
                  @include respond(phone) {
                    height: 1.5rem;
                    width: 1.5rem;
                    margin-right: 0.7rem;
                  }
                }
                .hovered {
                  color: rgb(247, 180, 56);
                  filter: drop-shadow(0px 0px 2px rgb(247, 180, 56));
                }
              }
              .submit {
                margin-left: auto;
                outline: none;
                border: none;
                border-radius: 5px;
                font-weight: bold;
                color: white;
                text-transform: uppercase;
                font-size: $smaller-font-size;
                letter-spacing: 0.2rem;
                padding: 1rem 1.5rem;
                @include respond(phone) {
                  padding: 0.6rem 1rem;
                }
                &-edit {
                  margin-left: 0;
                }
                &-disabled {
                  background-color: rgb(122, 122, 122);
                }
                &-enabled {
                  background-color: rgb(32, 121, 194);
                }
              }
            }
          }
        }
        &-reviews {
          &-heading {
            font-size: $default-font-size;
            text-transform: uppercase;
            margin-bottom: 1rem;
            padding-left: 0.5rem;
          }
          &-content {
            display: flex;
            flex-flow: column;
            gap: 2px;
            background-color: transparent;
            border-radius: 1rem;
            overflow: hidden;
            .review {
              padding: 2rem;
              display: flex;
              flex-flow: column;
              gap: 1rem;
              background-color: #2f2f35;
              @include respond(phone) {
                padding: 1.6rem;
              }
              .heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-title {
                  font-size: $small-font-size;
                  font-weight: bold;
                  @include respond(phone) {
                    font-size: $default-font-size;
                  }
                }
                &-time {
                  font-size: $default-font-size;
                  color: rgb(190, 190, 190);
                  @include respond(phone) {
                    font-size: $smaller-font-size;
                  }
                }
              }
              .desc {
                font-size: $default-font-size;
                letter-spacing: 0.2rem;
                //text-align: justify;
                color: rgb(190, 190, 190);
                @include respond(phone) {
                  font-size: $smaller-font-size;
                }
                .more {
                  margin-left: 1rem;
                  font-size: $smaller-font-size;
                  color: rgb(48, 136, 207);
                  &:hover {
                    cursor: pointer;
                  }
                }
              }
              .info {
                display: flex;
                gap: 2rem;
                &-reviewUser {
                  font-size: $default-font-size;
                  color: rgb(190, 190, 190);
                  &:hover {
                    cursor: pointer;
                  }
                }
                &-upvotes {
                  display: flex;
                  align-items: center;
                  &-icon {
                    width: 2rem;
                    height: 2rem;
                    &:hover {
                      cursor: pointer;
                    }
                  }
                  &-count {
                    font-size: $default-font-size;
                    color: rgb(190, 190, 190);
                  }
                }
              }
            }
            .loadMore {
              //background-color: hsla(160, 79%, 10%, 0.5);
              //border-top: 2px solid hsla(0, 0%, 73%, 0.1);
              padding: 0.5rem 0;
              //border-radius: 1rem;
              font-size: $medium-font-size;
              //color: rgb(194, 194, 194);
              text-transform: uppercase;
              letter-spacing: 0.3rem;
              text-align: center;
              color: rgb(168, 168, 168);
              background-color: rgb(85, 85, 85);
              &:hover {
                cursor: pointer;
              }
            }
          }
          &-noContent {
            font-size: $medium-font-size;
            margin-bottom: 1rem;
            padding-left: 0.5rem;
          }
        }
      }
    }
    .selection {
      display: flex;
      width: 95rem;
      gap: 5rem;
      z-index: 2;
      .item {
        font-size: $medium-font-size;
        font-weight: bold;
        color: rgb(114, 114, 114);
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        transition: all 0.2s linear;
        &:hover {
          cursor: pointer;
        }
      }
      .currentSelection {
        transform: scale(1.05);
        color: rgb(34, 34, 34);
      }
    }
  }
  &::-webkit-scrollbar {
    width: 1.5rem;
  }
  &::-webkit-scrollbar-track {
    background: rgb(216, 216, 216);
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(119, 119, 119);
    border-radius: 0.75rem;
  }
}
