.browsePage {
  width: 100%;
  min-height: calc(100vh - 6rem);
  margin-top: 6rem;
  // background-color: rgb(221, 221, 221);
  //   padding: 5rem 12%;
  padding: 5rem 25%;
  padding-right: calc(25% - 6rem);
  background-color: hsla(160, 79%, 100%, 0.4);
  display: flex;
  flex-flow: column;
  gap: 7rem;

  .search {
    margin-top: 3rem;
    width: 100%;
    height: 6rem;
    border: 2px solid var(--color-primary-dark);
    border-radius: 3rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    &-input {
      height: 100%;
      width: 95%;
      border: none;
      outline: none;
      padding: 0 3rem;
      font-size: $medium-font-size;
    }
    &-icon {
      width: 4rem;
      height: 4rem;
      color: var(--color-primary-dark);
      margin-right: 3rem;
    }
  }
  .genres {
    &-heading {
      text-align: center;
      font-size: $medium-font-size;
      color: black;
      margin-bottom: 1rem;
    }
    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
      &-item {
        text-transform: uppercase;
        font-size: $default-font-size;
        padding: 0.5rem 2.5rem;
        border-left: 4px solid var(--color-primary-dark);
        background-color: rgb(230, 230, 230);
      }
    }
  }
  .novels {
    &-heading {
      font-size: $medium-font-size;
      color: black;
      margin-bottom: 1rem;
      text-align: center;
    }
    &-filters {
    }
    &-list {
      display: flex;
      flex-flow: column;
      gap: 2rem;
      .novel {
        // height: 27rem;
        height: max-content;
        // width: 100%;
        width: max-content;
        display: flex;
        flex-flow: row;
        background-color: hsl(160, 79%, 95%);
        border-radius: 1rem;
        overflow: hidden;
        &-img {
          // height: 100%;
          height: 27rem;
          // width: 40%;
          width: 20rem;
          background-size: cover;
          background-position: center;
          padding: 0%;
        }
        &-info {
          // height: 100%;
          width: 65rem;
          padding: 2rem 3rem 1rem 3rem;
          display: flex;
          flex-flow: column;
          gap: 0.7rem;
          &-top {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: flex-start;
            &-title {
              width: 85%;
              font-size: $logo-small-font-size;
            }
            &-rating {
              margin-top: 0.7rem;
              font-size: $small-font-size;
              display: flex;
              flex-flow: row;
              align-items: center;
              gap: 0.5rem;
              .ratingIcon {
                padding-bottom: 0.2rem;
              }
            }
          }

          &-author {
            // font-size: $small-font-size;
            font-size: $default-font-size;
            .subHeading {
              color: rgb(43, 43, 43);
              margin-right: 1rem;
            }
          }
          &-chapterStatus {
            display: flex;
            flex-flow: row;
            gap: 3rem;
            align-items: center;
            font-size: $default-font-size;
          }
          &-chapters {
            .subHeading {
              font-size: $default-font-size;
              color: rgb(43, 43, 43);
              margin-right: 1rem;
            }
          }
          &-status {
            .subHeading {
              font-size: $default-font-size;
              color: rgb(43, 43, 43);
              margin-right: 1rem;
            }
          }

          &-desc {
            font-size: $small-font-size;
          }
        }
      }
    }
  }
}
