.homePage {
  width: 100%;
  // min-height: calc(100vh - 6rem);
  //height: calc(100vh - 6rem);
  margin-top: 6rem;
  overflow: hidden;
  //background-color: hsla(160, 79%, 100%, 0.4);
  // background-color: #2f2f35;
  background-color: #2f2f35;
  &-container {
    height: calc(100vh - 6rem);
    overflow: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 1.5rem;
    }
    &::-webkit-scrollbar-track {
      background: rgb(216, 216, 216);
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(119, 119, 119);
      border-radius: 0.75rem;
    }
  }
  /*&-carousel {
    height: 55vh;
    width: 100vw;
    position: relative;
    &-container {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      position: relative;
      &-item {
        width: 100vw;
        height: 100%;
        scroll-snap-align: start;
        flex-shrink: 0;
        background-size: cover;
        background-position: center;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &-navigation {
      position: absolute;
      width: max-content;
      height: max-content;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 2rem;
      &-btn {
        width: 1rem;
        height: 1rem;
        background-color: rgb(173, 173, 173);
        border-radius: 50%;
        transition: all 0.3s ease;
      }
      .current {
        transform: scale(1.2);
        background-color: white;
      }
    }
  }*/
  &-carousel {
    height: 55vh;
    width: 100vw;
    position: relative;
    &-slide {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: all 1s ease;
      &-visible {
        opacity: 1;
        transition: all 1s ease;
      }
    }
    &-navigation {
      position: absolute;
      width: max-content;
      height: max-content;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 2rem;
      &-btn {
        width: 1rem;
        height: 1rem;
        background-color: rgb(173, 173, 173);
        border-radius: 50%;
        transition: all 0.3s ease;
      }
      .current {
        transform: scale(1.2);
        background-color: white;
      }
    }
  }
  &-novels {
    padding: 5rem 12%;
    width: 100%;
    z-index: 2;
    // &-heading {
    //   font-size: $medium-font-size;
    //   color: black;
    //   margin-bottom: 1rem;
    // }

    &-heading {
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      word-spacing: 0.6rem;
      color: white;
      font-size: $small-font-size;
      font-weight: bold;
      margin-bottom: 2rem;
    }
    &-content {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 2rem;
      .novel {
        width: 15%;
        height: max-content;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        &-img {
          width: 100%;
          padding-top: 140%;
          background-size: cover;
          background-position: center;
        }
        &-info {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          &-title {
            padding: 1rem;
            color: rgb(212, 212, 212);
            font-size: $default-font-size;
          }
          &-rating {
            float: right;
            padding: 0.2rem 1rem;
            color: rgb(212, 212, 212);
            font-size: $default-font-size;
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
          &-ranking {
            float: left;
            padding: 0.2rem 1rem;
            color: rgb(212, 212, 212);
            font-size: $default-font-size;
          }
        }
      }
    }
    .novelSection {
      z-index: 2;
      height: max-content;
      display: flex;
      flex-wrap: wrap;
      gap: 2.5%;
      row-gap: 3rem;
      .novel {
        width: 18%;
        height: max-content;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        &-img {
          width: 100%;
          padding-top: 125%;
          background-size: cover;
          background-position: center;
          transition: all 0.3s ease;
          display: block;
        }
        &-info {
          display: flex;
          justify-content: space-between;
          flex-flow: column;
          position: absolute;
          top: 78%;
          left: 0;
          right: 0;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(2px);
          transition: all 0.3s ease;
          &-title {
            padding: 1rem 1.5rem;
            color: white;
            font-size: $default-font-size;
            letter-spacing: 0.3rem;
            text-align: center;
            //font-weight: bold;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              border-radius: 1px;
              left: -100%;
              z-index: 10;
              width: 100%;
              height: 2px;
              background-color: rgb(111, 236, 111);
              transition: all 0.3s ease;
            }
          }
          &-other {
            padding: 0rem 1.5rem;
          }
          &-author {
            color: rgb(212, 212, 212);
            font-size: $default-font-size;
          }
          &-desc {
            color: rgb(212, 212, 212);
            font-size: $default-font-size;
            display: flex;
            text-align: justify;
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          &-btns {
            padding: 1.5rem 1.5rem;
            padding-top: 0;
            display: flex;
            justify-content: space-between;
            .btn {
              width: 45%;
              text-align: center;
              font-size: $default-font-size;
              border: 2px solid white;
              color: white;
              text-transform: uppercase;
              background-color: transparent;
              padding: 0.3rem 1rem;
              transform: scale(0.5);
              opacity: 0;
              transition: opacity 0.3s ease, transform 0.3s ease;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        &:hover .novel-img {
          transform: scale(1.2);
        }
        &:hover .novel-info {
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          top: 0%;
        }
        &:hover .novel-info .novel-info-title::after {
          box-shadow: 0px 0px 3px 3px rgba(111, 236, 111, 0.3);
          // transform: translateX(calc(100% - 1.5rem));
          transform: translateX(100%);
          transition: all 0.3s 0.3s ease;
        }
        &:hover .novel-info .novel-info-desc {
          opacity: 1;
          transition: opacity 0.3s 0.3s ease;
        }
        &:hover .novel-info .novel-info-btns .btn {
          opacity: 1;
          transform: scale(1);
          transition: opacity 0.3s 0.3s ease, transform 0.3s 0.3s ease;
        }
      }
    }
    &-more {
      padding: 1rem 0.2rem;
      font-size: $default-font-size;
    }
  }
}
