.homePage {
  width: 100%;
  min-height: calc(100vh - 6rem);
  margin-top: 6rem;
  // background-color: rgb(221, 221, 221);
  padding: 5rem 12%;
  padding-right: calc(12% - 6rem);
  background-color: hsla(160, 79%, 80%, 0.418);
  display: flex;
  flex-flow: column;
  gap: 4rem;
  &-novels {
    width: 100%;
    height: 100%;
    &-heading {
      font-size: $medium-font-size;
      color: black;
      margin-bottom: 1rem;
    }
    &-content {
      display: grid;
      grid-template-rows: min-content;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: min-content;
      gap: 2rem;
      .novel {
        width: 100%;
        height: max-content;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        &-img {
          width: 100%;
          padding-top: 140%;
          background-size: cover;
          background-position: center;
        }
        &-info {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: max-content;
          background-color: rgba(0, 0, 0, 0.7);
          &-title {
            padding: 1rem;
            color: rgb(212, 212, 212);
            font-size: $default-font-size;
          }
          &-rating {
            float: right;
            padding: 0.2rem 1rem;
            color: rgb(212, 212, 212);
            font-size: $default-font-size;
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
          &-ranking {
            float: left;
            padding: 0.2rem 1rem;
            color: rgb(212, 212, 212);
            font-size: $default-font-size;
          }
        }
      }
    }
    &-more {
      padding: 1rem 0.2rem;
      font-size: $default-font-size;
    }
  }
}
