.landing {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  //background-color: hsl(240, 35%, 35%);
  //background-color: rgb(48, 48, 48);
  &-topNav {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    &-logo {
      display: flex;
      align-items: center;
      .text {
        color: rgb(0, 162, 255);
        font-size: $medium-font-size;
      }
      .icon {
        width: 6rem;
        height: 6rem;
      }
    }
    &-button {
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-size: $small-font-size;
      color: white;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 0.3rem);
        left: 50%;
        transform: translateX(-50%);
        transform-origin: center;
        width: 0;
        height: 0.1rem;
        background-color: white;
        transition: all 0.15s ease;
      }
      &:hover {
        cursor: pointer;
        text-shadow: #129b72;
        &::after {
          width: 100%;
        }
      }
    }
  }
  &-item {
    width: 100%;
    height: 100vh;
    position: relative;
    &-intro {
      .bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgb(68, 68, 68);
        clip-path: polygon(0 0, 100% 0, 100% 63%, 0% 100%);
        opacity: 0.9;
        z-index: -1;
      }
      .bg2 {
        position: absolute;
        top: 0;
        left: 0;
        //height: calc(100vh + 25%);
        height: 100vh;
        width: 100%;
        background-color: rgb(102, 102, 102);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
        z-index: -2;
      }
      .bg3 {
        position: absolute;
        top: 0;
        left: 0;
        height: 120vh;
        width: 100%;
        background-color: rgb(146, 146, 146);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100vh);
        z-index: -3;
      }
      position: relative;
      //height: calc(100vh - 8rem);
      height: 100vh;
      background-color: transparent;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        &-large {
          font-family: "Source Code Pro", sans-serif, courier, arial, helvetica;
          font-size: 4.5rem;
          font-weight: 900;
          color: white;
          //color: #40afaa;
        }
        &-small {
          margin-top: 2.5rem;
          font-size: $small-font-size;
          color: rgb(223, 223, 223);
          //color: #6eb3af;
        }
        &-cta {
          border: none;
          outline: none;
          margin-top: 2.5rem;
          font-size: $small-font-size;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          padding: 1.5rem 3rem;
          color: white;
          background-color: #21a099;
          border-radius: 0.5rem;
          transition: all 0.15s ease;
          &:hover {
            cursor: pointer;
            //background-color: hsl(177, 66%, 28%);
            transform: scale(1.1);
          }
        }
      }
      .mediaContent {
        position: absolute;
        top: 50%;
        right: 7%;
        width: 72rem;
        height: max-content;
        transform: translate3d(0, 0, 0) translateY(-45%);
        perspective: 150rem;
        -webkit-perspective: 150rem;
        -moz-perspective: 150rem;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;

        &-slideshow {
          width: 100%;
          background-color: transparent;
          height: max-content;
          overflow: hidden;
          -webkit-mask-image: -webkit-gradient(
            linear,
            left center,
            right center,
            color-stop(0, transparent),
            color-stop(0.2, rgba(255, 255, 255, 0.5)),
            color-stop(0.4, rgb(255, 255, 255))
          );
          transform: rotateY(-45deg);
          &-slideTrack {
            display: flex;
            height: 25rem;
            width: calc(24rem * 12);
            animation: scroll 30s linear infinite;
            justify-content: space-around;
            .slide {
              background-size: cover;
              //background-position: center;
              width: 23rem;
              transform-style: preserve-3d;
              border-radius: 1rem;
            }
          }
          &-genres {
            padding: 1rem;
            padding-bottom: 1.5rem;
            margin-top: 1.5rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-around;
            -webkit-mask-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgba(0, 0, 0, 1)),
                to(rgba(0, 0, 0, 0))
              ),
              -webkit-gradient(linear, left center, right center, color-stop(0, transparent), color-stop(0.2, rgba(255, 255, 255, 0.5)), color-stop(0.4, rgb(255, 255, 255)));

            .genre {
              color: white;
              //background-color: rgb(116, 116, 116);
              background-color: #129b72;
              font-size: $smaller-font-size;
              font-weight: bold;
              letter-spacing: 0.2rem;
              text-transform: uppercase;
              padding: 0.7rem 1.3rem;
              border-radius: 0.6rem;
              box-shadow: 0.5rem 0.5rem 1rem 0.25em rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
    &-filters {
      position: relative;
      //new
      transform: translate3d(0, 0, 0);
      perspective: 120rem;
      -webkit-perspective: 120rem;
      -moz-perspective: 120rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      .textContent {
        position: absolute;
        width: 35%;
        top: 55%;
        right: 10%;
        transform: translateY(-50%);
        &-large {
          //font-size: 5rem;
          font-size: $medium-font-size;
          font-weight: bold;
          color: #129b72;
          margin-bottom: 2rem;
        }
        &-small {
          font-size: $default-font-size;
          letter-spacing: 0.1rem;
          word-spacing: 0.2rem;
          color: #8a8a8a;
        }
        &-cta {
          margin-top: 1rem;
          font-size: $default-font-size;
          letter-spacing: 0.1rem;
          color: #129b72;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .mediaContent {
        position: absolute;
        height: max-content;
        width: 40rem;
        top: 60%;
        // left: 10%;
        //left: 20%;
        left: 23%;
        font-size: $medium-font-size;
        border-radius: 1rem;
        box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
        z-index: 3;
        overflow: hidden;
        //visibility: hidden;
        &-filters {
          background-color: #129b72;
          //position: absolute;
          height: max-content;
          width: 40rem;
          //border-radius: 1rem;
          display: flex;
          flex-flow: column;
          gap: 1rem;
          padding: 3rem;
          padding-bottom: 4rem;
          //box-shadow: -0.5em 0.5em 1em 0.15em rgba(0, 0, 0, 0.2);
          &-type {
            &-heading {
              color: white;
              font-size: $default-font-size;
              text-transform: uppercase;
            }
            &-list {
              display: flex;
              flex-wrap: wrap;
              gap: 1rem;
              .item {
                color: transparent;
                background-color: #21b286;
                border-radius: 3px;
                font-size: $default-font-size;
              }
            }
          }
        }
        &-empty {
          height: 10rem;
          background-color: white;
          position: relative;
          .iconContainer {
            position: absolute;
            top: -4rem;
            right: 3rem;
            width: 8rem;
            height: 8rem;
            background-color: white;
            border-radius: 50%;
            box-shadow: -0.5em 0.5em 1em 0.15em rgba(0, 0, 0, 0.2);
            display: grid;
            place-items: center;
            .icon {
              color: #129b72;
              width: 4.5rem;
              height: 4.5rem;
            }
          }
          .emptySpace {
            position: absolute;
            top: 50%;
            left: 3rem;
            width: 16rem;
            height: 3rem;
            background-color: #2bab85;
            border-radius: 5px;
            transform: translateY(-50%);
          }
        }
      }
      .mediaContent2 {
        position: absolute;
        height: 40rem;
        width: 30rem;
        top: 60%;
        // left: 12.5%;
        left: 14%;
        font-size: $medium-font-size;
        border-radius: 1rem;
        box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg) scale(0.8);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
        overflow: hidden;
        background-color: hsl(0, 83%, 68%);
        z-index: 2;
        padding: 2rem;
        &-profile {
          position: relative;
          width: 100%;
          height: 100%;
          &-bg {
            position: absolute;
            top: 0;
            background-color: hsl(0, 71%, 84%);
            width: 100%;
            height: 9rem;
            border-radius: 1rem;
          }
          &-img {
            position: absolute;
            top: 4rem;
            left: 4rem;
            width: 8rem;
            height: 8rem;
            background-size: cover;
            background-position: center;
            //background-color: #cecfd0;
            background-color: hsl(0, 83%, 68%);
            border-radius: 50%;
            box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
            overflow: hidden;
            .img {
              background-position: center;
              background-size: cover;
              width: 100%;
              height: 100%;
              opacity: 0.5;
            }
          }
          &-list {
            position: absolute;
            top: 14rem;
            background-color: hsl(0, 71%, 84%);
            width: 100%;
            height: 10rem;
            border-radius: 1rem;
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            padding: 1rem;
            .item {
              width: 100%;
              height: 1rem;
              background-color: hsl(0, 83%, 68%);
              border-radius: 0.5rem;
            }
          }
          &-chart {
            position: absolute;
            top: 25.5rem;
            background-color: hsl(0, 71%, 84%);
            width: 100%;
            height: 10rem;
            border-radius: 1rem;
            display: flex;
            padding: 1rem;
            align-items: center;
            gap: 1rem;
            .circle {
              width: 8rem;
              height: 8rem;
              background-color: hsl(0, 83%, 68%);
              border-radius: 50%;
              position: relative;
              &-inner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 4rem;
                height: 4rem;
                background-color: hsl(0, 71%, 84%);
                border-radius: 50%;
              }
            }
            .labels {
              width: calc(100% - 7rem);
              height: 7rem;
              display: flex;
              flex-flow: column;
              justify-content: space-between;
              &-label {
                display: flex;
                gap: 1rem;
                &-color {
                  width: 1rem;
                  height: 1rem;
                  border-radius: 0.5rem;
                  background-color: hsl(0, 83%, 68%);
                }
                &-value {
                  width: calc(100% - 2rem);
                  height: 1rem;
                  border-radius: 0.5rem;
                  background-color: hsl(0, 83%, 68%);
                }
              }
            }
          }
        }
      }
      .mediaContent3 {
        position: absolute;
        height: 30rem;
        width: 22.5rem;
        top: 60%;
        //left: 7.5%;
        left: 8.5%;
        font-size: $medium-font-size;
        border-radius: 1rem;
        box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg) scale(0.8);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
        overflow: hidden;
        background-color: hsl(216, 85%, 62%);
        z-index: 1;
        padding: 2rem;
        display: flex;
        flex-flow: column;
        gap: 1rem;
        &-novel {
          width: 100%;
          height: 10rem;
          background-color: hsl(216, 85%, 75%);
          border-radius: 1rem;
          padding: 1rem;
          &-img {
            height: 100%;
            aspect-ratio: 0.8;
            background-color: hsl(216, 85%, 62%);
            border-radius: 1rem;
            overflow: hidden;
            .img {
              background-position: center;
              background-size: cover;
              width: 100%;
              height: 100%;
              opacity: 0.5;
            }
          }
        }
        &-desc {
          width: 100%;
          height: 15rem;
          background-color: hsl(216, 85%, 75%);
          border-radius: 1rem;
          display: flex;
          flex-flow: column;
          padding: 1rem;
          justify-content: space-between;
          &-rating {
            display: flex;
            flex-flow: column;
            gap: 0.5rem;
            width: max-content;
            .rating {
              display: flex;
              gap: 0.5rem;
              align-items: center;
              &-text {
                font-size: $default-font-size;
                color: hsl(216, 85%, 45%);
              }
              &-star {
                width: 1.5rem;
                height: 1.5rem;
                color: hsl(216, 85%, 62%);
              }
            }
            .empty {
              height: 1rem;
              width: 100%;
              border-radius: 0.5rem;
              background-color: hsl(216, 85%, 62%);
            }
          }
          &-empty {
            width: 100%;
            height: 6.5rem;
            background-color: hsl(216, 85%, 62%);
            border-radius: 1rem;
          }
        }
      }
      .mediaContent4 {
        position: absolute;
        height: 21rem;
        width: 18rem;
        top: 60%;
        left: 5%;
        font-size: $medium-font-size;
        border-radius: 1rem;
        box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg) scale(0.8);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
        overflow: hidden;
        background-color: hsl(40, 1%, 40%);
        z-index: 1;
      }
      .isVisible {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0) rotateZ(-5deg)
          rotateY(50deg);
        transform: translateY(-50%) translateX(0) rotateZ(-5deg) rotateY(50deg)
          scale(0.9);
      }
    }
    &-features {
      height: max-content;
      .bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: hsl(0, 0%, 20%);
        clip-path: polygon(0 45rem, 100% 15rem, 100% 100%, 0 100%);
        opacity: 0.9;
        z-index: -1;
      }
      .bg2 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        //background-color: hsl(0, 0%, 90%);
        background-color: hsl(0, 0%, 30%);
        clip-path: polygon(0 15rem, 100% 35rem, 100% 100%, 0 100%);
        z-index: -2;
      }
      .bg3 {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: hsl(0, 0%, 90%);
        clip-path: polygon(0 15rem, 100% 0, 100% 100%, 0 100%);
        z-index: -3;
      }
      .features {
        display: flex;
        flex-wrap: wrap;
        padding: 20rem 10%;
        padding-bottom: 10rem;
        justify-content: space-around;
        gap: 10rem;
        &-feature {
          width: 40%;
          background-color: white;
          border-radius: 2rem;
          padding: 3rem;
          padding-top: 4.5rem;
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 1.5rem;
          position: relative;
          box-shadow: 0em 1em 3em 0.25em rgba(0, 0, 0, 0.1);
          .iconContainer {
            position: absolute;
            top: -3.3rem;
            left: 50%;
            transform: translateX(-50%);
            width: 6.6rem;
            height: 6.6rem;
            border-radius: 0.9rem 1.8rem;
            //position: relative;
            &-circle {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 4.5rem;
              height: 4.5rem;
              background-color: white;
              border-radius: 50%;
              display: grid;
              place-items: center;
              &-icon {
                width: 2.5rem;
                height: 2.5rem;
              }
            }
          }
          .heading {
            letter-spacing: 0.2rem;
            font-size: $small-font-size;
            font-weight: bold;
          }
          .desc {
            font-size: $default-font-size;
            letter-spacing: 0.1rem;
            word-spacing: 0.2rem;
            color: #8a8a8a;
          }
        }
        &-filters {
          .iconContainer {
            background-color: hsl(0, 92%, 63%);
            &-circle-icon {
              color: hsl(0, 92%, 63%);
            }
          }
          .heading {
            color: hsl(0, 92%, 63%);
          }
        }
        &-collection {
          .iconContainer {
            background-color: hsl(162, 79%, 34%);
            &-circle-icon {
              color: hsl(162, 79%, 34%);
            }
          }
          .heading {
            color: hsl(162, 79%, 34%);
          }
        }
        &-notification {
          .iconContainer {
            background-color: hsl(202, 79%, 34%);
            &-circle-icon {
              color: hsl(202, 79%, 34%);
            }
          }
          .heading {
            color: hsl(202, 79%, 34%);
          }
        }
        &-follow {
          .iconContainer {
            background-color: hsl(283, 66%, 29%);
            &-circle-icon {
              color: hsl(283, 66%, 29%);
            }
          }
          .heading {
            color: hsl(283, 66%, 29%);
          }
        }
        &-custom {
          .iconContainer {
            background-color: hsl(40, 1%, 40%);
            &-circle-icon {
              color: hsl(42, 17%, 15%);
            }
          }
          .heading {
            color: hsl(42, 17%, 15%);
          }
        }
      }
    }
    &-footer {
      width: 100%;
      background-color: rgb(68, 68, 68);
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 3rem;
      padding: 3rem;
      .iconContainer {
        display: flex;
        align-items: center;
        &-icon {
          width: 10rem;
          height: 10rem;
        }
        &-text {
          color: rgb(70, 187, 255);
          font-size: $large-font-size;
        }
      }
      .copyright {
        color: rgb(187, 187, 187);
        font-size: $smaller-font-size;
      }
    }
    &-collection {
      position: relative;
      transform: translate3d(0, 0, 0);
      perspective: 150rem;
      -webkit-perspective: 150rem;
      -moz-perspective: 150rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        &-large {
          font-size: 6rem;
          font-weight: bold;
        }
        &-small {
          font-size: $small-font-size;
        }
      }

      .mediaContent {
        position: absolute;
        width: 35%;
        height: 50rem;
        background-color: aquamarine;
        top: 50%;
        right: 10%;
        font-size: $medium-font-size;
        box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-50%) translateX(50%) rotateZ(5deg)
          rotateY(-90deg);
        transform: translateY(-50%) translateX(50%) rotateZ(5deg)
          rotateY(-90deg);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
      }
      .isVisible {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0) rotateZ(5deg)
          rotateY(-50deg);
        transform: translateY(-50%) translateX(0) rotateZ(5deg) rotateY(-50deg);
      }
    }
    &-notification {
      position: relative;
      transform: translate3d(0, 0, 0);
      perspective: 150rem;
      -webkit-perspective: 150rem;
      -moz-perspective: 150rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        &-large {
          font-size: 6rem;
          font-weight: bold;
        }
        &-small {
          font-size: $small-font-size;
        }
      }
      .mediaContent {
        position: absolute;
        width: 35%;
        height: 50rem;
        background-color: aquamarine;
        top: 50%;
        left: 10%;
        //transform: translateY(-50%);
        font-size: $medium-font-size;
        box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);

        //-webkit-transform: translateY(-50%) rotateZ(-5deg) rotateY(50deg);
        //transform: translateY(-50%) rotateZ(-5deg) rotateY(50deg);
        -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
      }
      .isVisible {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0) rotateZ(-5deg)
          rotateY(50deg);
        transform: translateY(-50%) translateX(0) rotateZ(-5deg) rotateY(50deg);
      }
    }
    &-follow {
      position: relative;
      transform: translate3d(0, 0, 0);
      perspective: 150rem;
      -webkit-perspective: 150rem;
      -moz-perspective: 150rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        &-large {
          font-size: 6rem;
          font-weight: bold;
        }
        &-small {
          font-size: $small-font-size;
        }
      }
      .mediaContent {
        position: absolute;
        width: 35%;
        height: 50rem;
        background-color: aquamarine;
        top: 50%;
        right: 10%;
        font-size: $medium-font-size;
        box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-50%) translateX(50%) rotateZ(5deg)
          rotateY(-90deg);
        transform: translateY(-50%) translateX(50%) rotateZ(5deg)
          rotateY(-90deg);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
      }
      .isVisible {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0) rotateZ(5deg)
          rotateY(-50deg);
        transform: translateY(-50%) translateX(0) rotateZ(5deg) rotateY(-50deg);
      }
    }
    &-reading {
      position: relative;
      transform: translate3d(0, 0, 0);
      perspective: 150rem;
      -webkit-perspective: 150rem;
      -moz-perspective: 150rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        &-large {
          font-size: 6rem;
          font-weight: bold;
        }
        &-small {
          font-size: $small-font-size;
        }
      }
      .mediaContent {
        position: absolute;
        width: 35%;
        height: 50rem;
        background-color: aquamarine;
        top: 50%;
        left: 10%;
        font-size: $medium-font-size;
        box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
      }
      .isVisible {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0) rotateZ(-5deg)
          rotateY(50deg);
        transform: translateY(-50%) translateX(0) rotateZ(-5deg) rotateY(50deg);
      }
    }
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-24rem * 6));
  }
}
