.landing {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  &-topNav {
    //position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    width: 100vw;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    &-logo {
      display: flex;
      align-items: center;
      .text {
        color: rgb(0, 162, 255);
        font-size: $medium-font-size;
      }
      .icon {
        width: 6rem;
        height: 6rem;
      }
    }
    &-button {
      text-transform: capitalize;
      font-size: $default-font-size;
      padding: 0.5rem 1rem;
      color: rgb(0, 162, 255);
      border: 1px solid rgb(0, 162, 255);
      border-radius: 0.5rem;
    }
  }
  &-item {
    width: 100%;
    height: 100vh;
    &-intro {
      position: relative;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        &-large {
          font-size: 6rem;
          font-weight: bold;
        }
        &-small {
          font-size: $small-font-size;
        }
      }
      .mediaContent {
        position: absolute;
        top: 50%;
        right: 7%;
        width: 72rem;
        height: max-content;
        transform: translate3d(0, 0, 0) translateY(-50%);
        perspective: 150rem;
        -webkit-perspective: 150rem;
        -moz-perspective: 150rem;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;

        &-slideshow {
          width: 100%;
          background-color: transparent;
          height: max-content;
          overflow: hidden;
          -webkit-mask-image: -webkit-gradient(
            linear,
            left center,
            right center,
            color-stop(0, transparent),
            color-stop(0.2, rgba(255, 255, 255, 0.5)),
            color-stop(0.4, rgb(255, 255, 255))
          );
          transform: rotateY(-45deg);
          /*-webkit-mask-image: -webkit-gradient(
            linear,
            left center,
            right center,
            color-stop(0, transparent),
            color-stop(0.1, rgba(0, 0, 0, 0.5)),
            color-stop(0.25, black),
            color-stop(0.75, black),
            color-stop(0.9, rgba(0, 0, 0, 0.5)),
            color-stop(1, transparent)
          );*/
          &-slideTrack {
            display: flex;
            height: 25rem;
            width: calc(24rem * 12);
            animation: scroll 20s linear infinite;
            justify-content: space-around;
            .slide {
              background-size: cover;
              width: 23rem;
              transform-style: preserve-3d;
              border-radius: 1rem;
            }
          }
          &-genres {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: space-around;
            -webkit-mask-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                from(rgba(0, 0, 0, 1)),
                to(rgba(0, 0, 0, 0))
              ),
              -webkit-gradient(linear, left center, right center, color-stop(0, transparent), color-stop(0.2, rgba(255, 255, 255, 0.5)), color-stop(0.4, rgb(255, 255, 255)));

            .genre {
              color: white;
              background-color: rgb(116, 116, 116);
              font-size: $smaller-font-size;
              text-transform: uppercase;
              padding: 0.5rem 1rem;
              border-radius: 0.6rem;
            }
          }
        }
      }
    }
    &-filters {
      position: relative;
      //new
      transform: translate3d(0, 0, 0);
      perspective: 150rem;
      -webkit-perspective: 150rem;
      -moz-perspective: 150rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        &-large {
          font-size: 6rem;
          font-weight: bold;
        }
        &-small {
          font-size: $small-font-size;
        }
      }
      .mediaContent {
        position: absolute;
        width: 35%;
        height: 50rem;
        background-color: aquamarine;
        top: 50%;
        left: 10%;
        //transform: translateY(-50%);
        font-size: $medium-font-size;
        box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);

        //-webkit-transform: translateY(-50%) rotateZ(-5deg) rotateY(50deg);
        //transform: translateY(-50%) rotateZ(-5deg) rotateY(50deg);
        -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
      }
      .isVisible {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0) rotateZ(-5deg)
          rotateY(50deg);
        transform: translateY(-50%) translateX(0) rotateZ(-5deg) rotateY(50deg);
      }
    }
    &-collection {
      position: relative;
      transform: translate3d(0, 0, 0);
      perspective: 150rem;
      -webkit-perspective: 150rem;
      -moz-perspective: 150rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        &-large {
          font-size: 6rem;
          font-weight: bold;
        }
        &-small {
          font-size: $small-font-size;
        }
      }

      .mediaContent {
        position: absolute;
        width: 35%;
        height: 50rem;
        background-color: aquamarine;
        top: 50%;
        right: 10%;
        font-size: $medium-font-size;
        box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-50%) translateX(50%) rotateZ(5deg)
          rotateY(-90deg);
        transform: translateY(-50%) translateX(50%) rotateZ(5deg)
          rotateY(-90deg);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
      }
      .isVisible {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0) rotateZ(5deg)
          rotateY(-50deg);
        transform: translateY(-50%) translateX(0) rotateZ(5deg) rotateY(-50deg);
      }
    }
    &-notification {
      position: relative;
      transform: translate3d(0, 0, 0);
      perspective: 150rem;
      -webkit-perspective: 150rem;
      -moz-perspective: 150rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        &-large {
          font-size: 6rem;
          font-weight: bold;
        }
        &-small {
          font-size: $small-font-size;
        }
      }
      .mediaContent {
        position: absolute;
        width: 35%;
        height: 50rem;
        background-color: aquamarine;
        top: 50%;
        left: 10%;
        //transform: translateY(-50%);
        font-size: $medium-font-size;
        box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);

        //-webkit-transform: translateY(-50%) rotateZ(-5deg) rotateY(50deg);
        //transform: translateY(-50%) rotateZ(-5deg) rotateY(50deg);
        -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
      }
      .isVisible {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0) rotateZ(-5deg)
          rotateY(50deg);
        transform: translateY(-50%) translateX(0) rotateZ(-5deg) rotateY(50deg);
      }
    }
    &-follow {
      position: relative;
      transform: translate3d(0, 0, 0);
      perspective: 150rem;
      -webkit-perspective: 150rem;
      -moz-perspective: 150rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        &-large {
          font-size: 6rem;
          font-weight: bold;
        }
        &-small {
          font-size: $small-font-size;
        }
      }
      .mediaContent {
        position: absolute;
        width: 35%;
        height: 50rem;
        background-color: aquamarine;
        top: 50%;
        right: 10%;
        font-size: $medium-font-size;
        box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-50%) translateX(50%) rotateZ(5deg)
          rotateY(-90deg);
        transform: translateY(-50%) translateX(50%) rotateZ(5deg)
          rotateY(-90deg);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
      }
      .isVisible {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0) rotateZ(5deg)
          rotateY(-50deg);
        transform: translateY(-50%) translateX(0) rotateZ(5deg) rotateY(-50deg);
      }
    }
    &-reading {
      position: relative;
      transform: translate3d(0, 0, 0);
      perspective: 150rem;
      -webkit-perspective: 150rem;
      -moz-perspective: 150rem;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      .textContent {
        position: absolute;
        width: 35%;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        &-large {
          font-size: 6rem;
          font-weight: bold;
        }
        &-small {
          font-size: $small-font-size;
        }
      }
      .mediaContent {
        position: absolute;
        width: 35%;
        height: 50rem;
        background-color: aquamarine;
        top: 50%;
        left: 10%;
        font-size: $medium-font-size;
        box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        transform: translateY(-50%) translateX(-50%) rotateZ(-5deg)
          rotateY(90deg);
        opacity: 0;
        transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
          opacity 0.3s 0.25s ease-out;
        will-change: transform, opacity;
      }
      .isVisible {
        opacity: 1;
        -webkit-transform: translateY(-50%) translateX(0) rotateZ(-5deg)
          rotateY(50deg);
        transform: translateY(-50%) translateX(0) rotateZ(-5deg) rotateY(50deg);
      }
    }
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-24rem * 6));
  }
}
